<div class="footer">
  <a href="about.php" class="footer-item">O nas</a>
  <a href="contact.php" class="footer-item">Kontakt</a>

  <div class="right">
    <a href="">
      <span class="footer-item" style="position: relative;bottom: 15px;">Polub nas</span>
      <img class="fb class="footer-item" src="public/img/fb.png" />
    </a>
    <a href="" class="footer-item"><img class="tw" src="public/img/tw.png"/></a>
  </div>
</div>
