body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.header {
  position: relative;
  height: 150px;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  margin: 10px 20px;
  color: #4e417a;
}

a {
  text-decoration: none;
}

h1 a:active {
  color: #4e417a;
}

.register {
  position: absolute;
  right: 100px;
  top: 20px;
  font-size: 16px;
  color: #4e417a;
  text-decoration: none;
}

.breadcrumb {
  float: right;
  margin-right: 100px;
}

.breadcrumb a {
  margin: 10px;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0px 10px 60px;
  color: #4e417a;
  text-decoration: none;
}

.container {
  background-color: #c0d7e9;
  position: absolute;
  bottom: 0px;
  top: 150px;
  left: 0px;
  right: 0px;
}

.section1 {
  display: inline-flex;
  width: 100%;
}

.w40 {
  width: 40%;
  height: 200px;
}

.w60 {
  position: relative;
  width: 60%;
}

.search-center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -25px;
}

.search > input {
  height: 50px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid gray;
  text-align: center;
  font-size: 18px;
}

.search-large {
  position: relative;
  margin: 60px 20% 0px 20%;
  width: 60%;
}

.search-large > input {
  width: 100%;
  border-radius: 30px;
}

.input-img {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 15px;
  top: 10px;
}

.section2 {
  float: right;
  width: 60%;
}

.section2 > p {
  margin-left: 50px;
  color: #4e417a;
  font-size: 24px;
  font-weight: 500;
}

.footer {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: white;
  bottom: 0px;
  padding-top: 15px;
}

.footer a {
  font-size: 14px;
  font-weight: 200;
  color: #4e417a;
  text-decoration: none;
}

.footer .right {
  float: right;
  margin-right: 40px;
}

.footer-item {
  margin: 0px 10px;
}

.fb,
.tw {
  width: 30px;
}
.hidden {
  display: none !important;
}
.news {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.news-item {
  height: 204px;
  background-color: white;
  margin-bottom: 40px;
  display: flex;
}
.news .pic {
  width: 20%;
}

.news .ni {
  height: 204px;
}

.news .text {
  float: right;
  width: 80%;
  text-align: center;
  color: #4e417a;
}
.news .page {
  text-align: center;
}
.page .goto {
  background-color: #86c0ec;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.help {
  margin-left: 60px;
  margin-top: 70px;
  font-size: 20px;
  background-color: #86c0ec;
  padding: 10px;
  width: 250px;
  text-align: center;
  cursor: pointer;
}
.helpinfo {
  margin-top: 50px;
  margin-left: 40px;
  margin-bottom: 15%;
  margin-right: 80px;
  background-color: #86c0ec;
}

.container > p {
  color: #4e417a;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  text-align: center;
}

h2 {
  margin-top: 50px;
  font-size: 30px;
  color: #4e417a;
  text-align: center;
}

.w60 > h6 {
  margin-left: 60px;
  margin-right: 50px;
  margin-top: 150px;
  color: #4e417a;
  font-size: 24px;
  font-weight: 500;
}

.flex {
  display: flex;
}
.kontakt {
  margin-top: 90px;
}
.kontakt p {
  margin-left: 40px;
  margin-top: 50px;
  color: #4e417a;
  font-size: 24px;
  font-weight: 500;
}

.margin {
  margin-left: 100px !important;
}

.login > h3 {
  font-size: 40px !important;
  margin-left: 70px;
  margin-top: 30px;
  padding-top: 30px;
}

.login {
  margin-left: 16%;
  background-color: white;
  width: 650px;
  height: 600px;
}

.input {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  font-size: 18px;
}

.input__field {
  position: relative;
  margin-left: 70px;
  padding: 0.8em;
  width: 40%;
  border: 0;
  border-radius: 0;

  color: #000000;
  font-weight: 400;
}

.input .input__field {
  width: 50%;
  background: transparent;
  padding: 10px 0 10px;
  margin-top: 7px;
  margin-bottom: 24px;
  color: #44474d;
  height: 100%;
  font-size: 100%;
  font-weight: 700;
}

.login .page .help {
  background-color: #8b6feb;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin-left: 150px;
}

.login a {
  color: white !important;
}

.register h2 {
  color: black;
}

.register .input__field {
  margin-top: 50px;
  text-align: center;
}

.register .help {
  background-color: #8b6feb;
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-left: 42%;
  margin-top: 200px;
}

.register p {
  color: #000000;
  font-size: 12px;
  text-align: center;
}

.menu {
  margin-top: 80px;
  margin-left: 35%;
}

.gotopanel {
  background-color: #c0d7e9;
  padding: 20px;
  color: #4e417a;
  font-size: 20px;
  margin-right: 3px;
}

.clicked {
  background-color: #86c0ec;
}

.acc p {
  font-size: 15px;
  text-align: center;
  color: #4e417a;
  padding-top: 40px;
  margin-top: 20px;
}

.profil {
  height: 500px;
  background-color: #86c0ec;
}

.acc .input__field {
  margin-left: 100px;
  margin-bottom: 10px;
}

.zapisz {
  background-color: #8b6feb;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
  border: none;
}

.nextline {
  text-align: center;
  margin-top: 50px;
  margin-left:45%;
  width:200px;
}

.sell {
  font-size: 15px;
  text-align: center;
  color: #4e417a;
  /* padding-top: 40px; */
  margin-top: 20px;
}

.dodaj {
  font-size: 15px;
  text-align: center;
  color: #4e417a;
  padding-top: 40px;
  margin-top: 20px;
}

.pasek p{
  color: #4e417a;
  font-size: 20px;
  display: inline;
  margin-right: 10%;

}

.pasek{
margin-top: 130px;
margin-left: 20.5%;
}

.wiersz{
margin-top: 20px;
margin-right: 18%;
margin-left: 18%;
background-color: white;

}

.col{
margin-left: 5%;
margin-right: 8%;
width: 55px;
}


.sell > .pasek{
  margin-top: 10px;
}


.error{
  text-align: center;
  color: #4e417a;
}

#search_result {
  position: relative;
  margin: 60px 20% 0px 20%;
  text-align: center;
  width: 60%;
}

#search_result th {
  color: #4e417a;
  font-size: 20px;
  width: 1000px;

}


#search_result td {

  background-color: white;

}


